.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 30px;
}

body {
  background-color: #009ffd;
}

h3 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: white;
}

p {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: lightgray;
  font-size: 16px;
}

.column-one-third {
  width: 33.33%;
  text-align: center;
}

.row {
  display: flex;
}

.logos {
  width: 50px;
}

.circular-image {
  border-radius: 50%;
  background-color: white;
  width: 100px;
  height: 100px;
  justify-content: center;
  padding-top: 25px;
  margin: auto;
}
