.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;

  /* your code here */
}

#bulbasaur {
  position: relative;

  /* your code here */
}

#charmander {
  position: relative;
  top: 20px;

  /* your code here */
}

#squirtle {
  position: relative;
  top: 60px;

  /* your code here */
}

#pikachu {
  position: relative;
  top: 120px;

  /* your code here */
}

#jigglypuff {
  position: relative;
  top: 200px;

  /* your code here */
}
