.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

header {
  text-align: center;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  margin-bottom: 1em;
}

.column-full {
  width: 100%;
}

.column-fifth {
  width: 20%;
}

h4 {
  font-family: "DM Sans", sans-serif;
}

p {
  font-family: "DM Sans", sans-serif;
}

section {
  display: flex;
  align-items: center;
  font-size: 13px;
}

section p {
  color: gray;
  margin-left: 5px;
}

.price {
  font-size: 14px;
  background: rgb(247 203 186);
  width: 2em;
  color: black;
}

.triple-price {
  font-size: 14px;
  background: rgb(247 203 186);
  width: 35px;
  color: black;
}

img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
}
