* {
  box-sizing: border-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: -4px;
}

span {
  white-space: pre;
}

.letters {
  border-bottom: 2px solid black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  border-bottom: solid 2px red;
}
