.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: Karla, sans-serif;
  font-size: 12px;
  line-height: 1.9em;
  color: rgb(112 105 105);
  margin-bottom: 5em;
}

h1 {
  text-align: center;
  font-family: Karla, sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0;
}

h3 {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
}

.column-full {
  width: 100%;
  padding-top: 2em;
  text-align: center;
}

.column-third {
  width: 33.33%;
}

.column-two-thirds {
  width: calc(200% / 3);
}

.row {
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

.images {
  width: 75%;
  position: relative;
  left: 2em;
  bottom: 1em;
}

.button {
  border: 1px solid rgb(240 78 78);
  background-color: white;
  line-height: 2em;
  width: 11em;
  font-family: Karla, sans-serif;
  color: rgb(240 78 78);
  font-weight: 600;
  font-size: 12px;
  position: relative;
  bottom: 5em;
}
