header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.navbar {
  display: flex;
  list-style-type: none;
  font-family: Avenir, sans-serif;
  align-items: center;
}

.navbar li a {
  padding: 0 25px;
  text-decoration: none;
  color: gray;
}

.contact-us {
  font-family: Avenir, sans-serif;
  color: white;
  background-color: #13315c;
  border-radius: 5px;
  line-height: 2.5em;
  width: 8em;
  font-size: 16px;
  border: none;
}

.hero-section {
  background-image: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 20%)), url("images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1100px;
  height: 600px;
  margin-left: 10em;
  margin-top: 4em;
  margin-bottom: 5em;
}

.hero-text {
  width: 35%;
  color: white;
  position: absolute;
  left: 15em;
  bottom: 2em;
}

.hero-text h1 {
  font-family: "Tiempos Headline", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
}

.hero-text p {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  line-height: 2em;
}

.started-button {
  border: none;
  border-radius: 5px;
  font-family: Avenir, sans-serif;
  background-color: #13315c;
  color: white;
  line-height: 3em;
  width: 10em;
}

.location-header {
  text-align: center;
  margin-bottom: 3em;
}

.location-header h2 {
  font-family: "Tiempos Headline", serif;
  color: gray;
}

.location-header p {
  font-family: Avenir, sans-serif;
  color: gray;
  font-size: 14px;
}

.location-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: Avenir, sans-serif;
  color: gray;
  line-height: 3em;
  width: 95%;
  margin-bottom: 5em;
}

.location-list ul li {
  list-style: none;
}

.locations {
  background-color: whitesmoke;
  padding-top: 3em;
  padding-bottom: 1em;
}

.ready-text h3 {
  font-family: "Tiempos Headline", serif;
  color: gray;
  font-size: 24px;
}

.ready-text p {
  font-family: Avenir, sans-serif;
  color: gray;
  font-size: 13px;
}

.ready-text {
  margin-left: 10em;
}
